# # # # # # # # # # # # # #
# Simulation config file  #
# # # # # # # # # # # # # #
#
# This file describes the behavior of the agents in the simulation.
# The number of routes in the initial planning file must match the number of agents configured in this file.
#
# The parameters for each agent are:
#   - id      agent identification number
#   - color   the color of the agent in the plots of the instances
#   - nr      range of neighborhood considered in the choice of nodes to be inserted
#   - la      the size of the route segment to be adapted
#   - rem     percentage of nodes removed from the analyzed route segment
#   - %fails  percentage of the route execution when the agent's failure occurs. The value 100 indicates that the agent does not fail during the execution of the mission.
#
# All parameters are mandatory and must be informed in one line per agent, in the order they were described.
#
# id color nr la rem %fails
0 red 2.0 10 10 25
1 green 2.0 10 10 100
2 blue 2.0 10 10 100
